@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Mono+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 68px;
}

:root {
  --background-color: #ffffff;
  --background-color-two: #f9fafb;
  --primary-text-color: #4b5563;
  --secondary-text-color: #111827;
  --zuraas: #f3f4f6;
  --image-border-two: #f9fafb;
  --image-box: #e5e7eb;
  --experience-box: #ffffff;
  --date: #374151;
  --work-box: #f9fafb;
  --logo-color: #000;
  --button-hover: #1f2937;
}

[data-theme="dark"] {
  --background-color: #030712;
  --background-color-two: #111827;
  --primary-text-color: #d1d5db;
  --secondary-text-color: #f9fafb;
  --zuraas: #1f2937;
  --image-border-two: #111827;
  --image-box: #374151;
  --experience-box: #1f2937;
  --date: #e5e7eb;
  --work-box: #374151;
  --logo-color: #f9fafb;
  --button-hover: #f3f4f6;
}

.content {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "inter", sans-serif;
  color: var(--primary-text-color);
}

.nav {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-right: 24px;
  font-family: "inter", sans-serif;
  color: var(--primary-text-color);
}

.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-family: "inter", sans-serif;
  color: var(--primary-text-color);
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  font-family: "inter", sans-serif;
  color: var(--secondary-text-color);
}

.date {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "inter", sans-serif;
  color: var(--date);
}

.tag {
  padding: 4px 20px;
  border-radius: 12px;
  background-color: var(--image-box);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-family: "inter", sans-serif;
  color: var(--primary-text-color);
}

.subheading {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  font-family: "inter", sans-serif;
  color: var(--primary-text-color);
}

.skill-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-family: "inter", sans-serif;
  color: var(--primary-text-color);
}

.contact {
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.72px;
  text-align: center;
  font-family: "inter", sans-serif;
  color: var(--secondary-text-color);
}

.grid-icon {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(2, auto);
  row-gap: 48px;
}

.image {
  background-image: url("/a751e4a2db426ecfca4f62d9ba3dc8f4.png");
  background-size: cover;
  background-position: center;
}

.image1 {
  background-image: url("/9978d6752a84190b8a3ff63dfa2ce73a.png");
  background-size: cover;
  background-position: center;
}

.image2 {
  background-image: url("/ec233eeec30acb72a718cce9a3c1c7dc.png");
  background-size: cover;
  background-position: center;
}

.image3 {
  background-image: url("/221639601e00cbe07705f752b21fc588.png");
  background-size: cover;
  background-position: center;
}

.image4 {
  background-image: url("/fcbb58c0fdf3c59259201153876040ea.png");
  background-size: cover;
  background-position: center;
}

.background {
  background-color: rgba(249, 250, 251, 0.1);
  backdrop-filter: blur(4px);
}
.shadow {
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15);
}

nav .checkbox {
  display: none;
}

nav #menu {
  display: none;
}

@media (width < 1025px) {
  nav .checkbox {
    display: block;
  }

  .header {
    padding: 16px;
  }

  .header > div {
    padding: 0;
  }

  .navbar {
    display: none;
  }

  .hero {
    padding: 132px 16px 64px;
  }

  .hero > div {
    padding: 0;
  }

  .hero > div > div {
    padding: 0;
    gap: 48px;
    display: flex;
    flex-direction: column-reverse;
  }

  .tom {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
  }

  .image-container-1 {
    width: 280px;
    height: 300px;
    display: flex;
    justify-content: center;
  }

  .image4 {
    width: 240px;
    height: 280px;
  }

  .image-box {
    width: 280px;
    height: 280px;
    right: auto;
  }

  .about {
    padding: 64px 16px;
  }

  .about > div {
    padding: 0;
  }

  .about > div > div {
    padding: 0;
    gap: 24px;
  }

  .about section {
    display: flex;
    flex-direction: column;
  }

  .image-container-2 {
    width: 320px;
    height: 380px;
    display: flex;
    justify-content: center;
  }

  .image {
    width: 280px;
    height: 360px;
    top: auto;
    right: auto;
  }

  .image-box-2 {
    width: 320px;
    height: 360px;
    left: auto;
    bottom: 0;
  }

  .skills {
    padding: 64px 16px;
  }

  .skills > div {
    padding: 0;
  }

  .skills > div > div {
    padding: 0;
    gap: 24px;
  }

  .grid-icon {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    row-gap: 16px;
  }

  .experience {
    padding: 64px 16px;
  }

  .experience > div {
    padding: 0;
  }

  .experience > div > div {
    padding: 0;
    gap: 24px;
  }

  .experience-box div {
    flex-direction: column;
    gap: 16px;
  }

  .experience .col {
    flex-direction: column-reverse;
  }

  .work {
    padding: 64px 16px;
  }

  .work > div {
    padding: 0;
  }

  .work > div > div {
    padding: 0;
    gap: 24px;
  }

  .work-box {
    flex-direction: column;
    min-width: 343px;
  }

  .work-box > div {
    padding: 32px;
    border-radius: 12px 12px 0 0;
  }

  .work-box-reverse {
    flex-direction: column-reverse;
    min-width: 343px;
  }

  .work-box-reverse > div {
    padding: 32px;
    border-radius: 12px 12px 0 0;
  }

  .image1,
  .image2,
  .image3 {
    max-width: 279px;
    max-height: 192px;
  }

  .contactme {
    padding: 64px 16px;
  }

  .contactme > div {
    padding: 0;
  }

  .contactme > div > div {
    padding: 0;
    gap: 24px;
  }

  .email {
    gap: 0;
  }

  .email > div {
    gap: 16px;
  }

  .contact {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.36px;
  }

  .contact-icon {
    width: 24px;
    height: 24px;
  }

  .footer {
    padding: 24px 0;
  }

  .footer > div {
    padding: 0;
  }

  .footer > div > div {
    padding: 0;
  }
}
